<p id="notice"><%= notice %></p>

<p>
  <b>Quote:</b>
  <%= @article.quote %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>


<%= link_to 'Back', '/' %>
